.notifications{
	margin-top: 138px;
	width: 275px;
	min-height: 38px;
	border-style: solid;
	border-color: @border;
	border-width: 1px;
	background-color: transparent;
	border-radius: 5px;
	line-height: 18px;
	padding-bottom: 8px;
	font-size: 18px;
	color: @white;
	font-family: '__iOS7_5';
	position: relative;
	margin-left: -1px;
	font-family: 'Open Sans Condensed', sans-serif;

	&__title {
		background-color: @border;
		padding: 0;
		margin: 0;
		line-height: 22px;
		text-align: center;
		font-size: 18px;
		text-align: center;
	}
	&__left-layout {
		float: left;
		margin-top: 37px;
  		margin-left: 30px;
	}

	&__right-layout {
		float: right;
		margin-top: 37px;
  		margin-right: 35px;
	}

	&__ios-basket {
		top: 35px;
 		left: 58px;
	}

	&__ios-price {
		top: 35px;
 		right: 45px;
	}

	span {
		position: absolute;
	}

	label {
		display: block;
  		
	}
}

  